@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
body {
  background-color: #ffffff;
  color: black;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
  color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 0.25rem;
  color: black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
  color: black;
}

* {
  font-family: 'Fira Sans', sans-serif;
}

p {
  font-style: italic;
}

a,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
}

a,
a:visited,
a:-moz-any-link {
  text-decoration: none;
}

a,
a:visited,
a:any-link {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: black;
}

hr {
  color: black;
}

.modal-dark {
  background-color: #ffffff !important;
  color: black;
}

.bg-dark {
  background-color: white;
  color: black;
}

.navbar-dark,
.table-dark {
  background-color: white;
  color: black;
}

@media (min-width: 576px) {
  .container.outside {
    max-width: 95% !important;
  }
  .container.outside .col-sm-6 {
    height: 86vh;
    overflow-y: auto;
  }
}

.container .row .col-sm-3.form p em {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.container .row .sidenav ul .list-group-item {
  background-color: white;
  border: none;
  padding: 0px;
  color: black;
}

.container .row .sidenav ul .list-group-item i.fas {
  padding-right: 2rem;
  height: 1rem;
}

.container .row .sidenav ul .list-group-item a {
  display: inline-block;
  padding: 0.8rem 1.25rem;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 50ex;
  font-style: italic;
  color: black;
}

.container .row .sidenav ul .list-group-item a:hover {
  background-color: #343a406b;
  color: black;
}

.container .row .sidenav ul .list-group-item a.active {
  color: #d3588b !important;
  color: black;
}

.container .row .col-sm-6 .button-container {
  width: 100%;
}

.container .row .col-sm-6 .container {
  background-color: white !important;
  color: black;
}

.container .row .col-sm-6 .container .icon-container .icons {
  display: inline;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50ex;
}

.container .row .col-sm-6 .container .icon-container .icons:hover {
  background-color: #007bff4c;
  color: #29b99ae7;
}

.container .row .col-sm-6 .container .icon-container .icons.hearts:hover {
  background-color: rgba(211, 0, 0, 0.249);
  color: #d30000;
}

.post {
  background-color: white;
  word-break: break-all;
  color: black;
}
.btn {
  background-color: #343a40;
  color: white;
}
.btn:hover {
  background-color: rgb(255, 0, 76);
}
.form-control {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: black;
}

.form-control:focus {
  background-color: white;
  border: 1px solid rgba(210, 210, 210, 0.125);
  color: black;
}

.table-dark tbody tr {
  border-bottom: 1px solid rgba(210, 210, 210, 0.125);
}

.border {
  border: 1px solid rgb(180, 180, 180);
}
/*# sourceMappingURL=style.css.map */
